{% extends "base.html" %}
{% block title  %} Home page {%endblock%}
{%block content %}
<div class="container">
    <div class="row">
      
      <div class="col align-self-center" style="padding-top: 200px;">
        <p class="text-muted">Anti echo chamber tries to protect you from being sucked into a particular viewpoint. We aim to make the users more conscious of the bias of the articles they are reading and also suggest them articles with alternate viewpoints for all round growth and develpment.</p>

      </div>
     
    </div>
  </div>
{% endblock%}